{
  "singleQuote": true,
  "semi": true,
  "useTabs": true,
  "tabWidth": 4,
  "printWidth": 80,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["jest.config.js", "*.config.js", ".*.js"],
      "options": {
        "semi": false
      }
    }
  ]
} 